@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Rubik:wght@300&display=swap");
.bg-nav {
  background-color: #F4E6FD; }

.navAnimacionlogo img:hover {
  transform: rotate(55deg);
  transition: 3s; }

.navAnimacion a {
  color: #030101;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .4s; }
  .navAnimacion a:hover {
    background-size: 100% 2px; }

.footer__box--grey {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column-reverse;
  background-color: #ff7ade;
  align-items: center;
  padding: 5px;
  margin: 5px; }

.footer__dp {
  font-size: 1rem;
  display: flex;
  align-items: auto;
  justify-content: center; }

.iconoDisplay {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 2px; }

.animacionIcono:hover {
  transform: rotatez(360deg);
  transition: 4s; }

.header__img--fondo {
  background-image: url(../img/header.png);
  background-size: cover; }
  .header__img--fondo h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 10px;
    padding: 60px;
    color: black; }

.scale:hover {
  transform: scale(0.5);
  transition: 4s; }

.aside1, .asidenos {
  max-width: 100vw;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #030101;
  text-align: center;
  background: radial-gradient(circle, #cd81f2 56%, #f4e6fd 100%); }

.secciones {
  gap: 5px; }

.bg-section, .bg-section1 {
  background-color: #F4E6FD;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: auto;
  margin-top: 5px; }

.bg-section1 {
  font-family: "Fira Sans", sans-serif; }
  .bg-section1 img {
    width: 100%;
    height: auto; }

.textoCentro, .textoCentro1 {
  text-align: center; }

.mapa {
  margin: auto;
  padding: 0; }

.displayGrid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header"  "nab" "section" "aside" "pie"; }

#navGrid {
  grid-area: nab; }

#headerGrid {
  grid-area: header; }

#asideGrid {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 10px; }

#sectionGrid {
  grid-area: section; }

.displaySeccion2 img {
  height: 100%; }

.contacto {
  display: flex;
  justify-content: space-around; }

#footerGrid {
  grid-area: pie; }

@media (max-width: 770px) {
  .displayGrid {
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: "header header"  "nab nab" "section section" "aside aside" "pie pie"; }
  .aside1, .asidenos {
    flex-direction: row; }
  .contacto {
    display: block; }
  .contacto__form {
    width: 100%; } }

.numProblemas {
  text-align: center;
  font-size: 1rem;
  color: #5100A4;
  margin: auto; }

.inicioSecion {
  margin: auto;
  background-image: url(../img/micuenta.jpg);
  background-size: cover; }

.textoCentro1 {
  font-family: "Fira Sans", sans-serif;
  color: #030101; }

.micuentaDisplay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100vh; }

.micuentaTexto {
  color: #5100A4;
  align-items: center; }

.btn-color {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #5100A4;
  background: transparent;
  cursor: pointer;
  border: 2px solid #5100A4;
  border-radius: 10px;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #F4E6FD; }
  .btn-color:hover {
    box-shadow: inset 0 -100px 0 0 #F4E6FD;
    color: #030101; }
  .btn-color .btn-color:active {
    transform: scale(0.9); }

.textoLiqui {
  text-align: center;
  align-items: center;
  font-size: 3.5rem;
  font-family: "Rubik", sans-serif; }

.listColor1 {
  background-color: #F4E6FD;
  font-family: "Fira Sans", sans-serif; }

.listHover1:hover {
  color: #5100A4;
  background-color: #F4E6FD; }

.asidenos {
  display: flex;
  flex-direction: column-reverse; }

.main__dp--nosotros {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px;
  padding: 10px;
  align-items: center;
  background-color: whitesmoke; }

.displayFotos:hover {
  transform: scale(1.2);
  transition: 2s;
  cursor: pointer; }

.presupuesto {
  font-family: "Rubik", sans-serif;
  padding: 15px;
  margin: auto;
  background-color: #F4E6FD; }
  .presupuesto a {
    text-decoration: none;
    color: #5100A4;
    font-size: 1.5rem; }
  .presupuesto:hover {
    transform: scale(1.2);
    transition: 2s; }

.servicios {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background-color: #F4E6FD; }
