@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Rubik:wght@300&display=swap');
*{
	font-family: 'Rubik', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
h1,h2,h3{
	font-family: 'Fira Sans', sans-serif;
}
p{
	color: #5100A4;
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 300;
}
body{
	width: 100%;
	background-color: whitesmoke;
}

.bg-nav{
	background-color: #F4E6FD;
	top: 0;
	position: sticky;
}
.navAnimacionlogo img:hover{
	transform: rotate(55deg);
	transition: 3s;
}
.navAnimacion a{
	color: black;
	background-image: linear-gradient(currentColor,currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .4s;
}
	.navAnimacion a:hover{
		background-size: 100% 2px;
		color: #5100A4;
	}

/*nav{
	background-color: #F4E6FD;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
	top: 0;
	position: sticky;
}
	.logo img{
		width: 100px;
		height: 100px;
	}
	.logo img:hover{
		transform: rotate(55deg);
		transition: 3s;
	}
		nav ul li{
			display: inline-block;
			align-items: center;
		}
			nav ul li a{
				text-decoration: none;
				color: black;
				padding-right: 15px;
				font-size: 2rem;
				background-image: linear-gradient(currentColor,currentColor);
				background-position: 0% 100%;
				background-repeat: no-repeat;
				background-size: 0% 2px;
				transition: background-size .4s;
			}
			nav ul li a:hover{
						font-weight: 600;
						color: #5100A4;
						cursor: pointer;
						background-size: 100% 2px;
			}*/
.header__img--fondo{
	background-image: url(../img/header.png);
	width: 100%;
}
	.header__img--fondo h1{
		font-size: 6rem;
		text-align: center;
		margin: 5px;
		padding: 60px;
		color: black;
	}
		.scale:hover{
			transform: scale(0.5);
			transition: 4s;
		}

.textoCentro{
	text-align: center;
	margin: 5px;
	padding: 4px;
	font-size: 4rem;
	color: black;
}


.aside1{
	background-color: white;
	font-size: 1.5rem;
	color: black;
	text-align: center;
	background: radial-gradient(circle, rgba(205,129,242,1) 56%, rgba(244,230,253,1) 100%);
}


/*Seccion 1*/


.bg-section{
	background-color: #F4E6FD ;
}















/*.bg-violet{
	background-color: #F4E6FD;
	margin: 10px;
	border: solid rgba(131, 0, 254, 1.0) 1px;
}
.displaySeccion1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.textoIzq{
	text-align: left;
	margin: 15px;
	padding: 5px;
	font-size: 1.5rem;
	width: 50%;
}
.imgDerecha{
	width: 50%;
	height: 100%;
	align-items: flex-end;
}
*/

/*	Seccion 2

.bg-pink{
	background-color: #F4E6FD;
	margin: 20px;
	border: solid rgba(131, 0, 254, 1.0) 1px;
	display: flex ;
}
*/
/*.displaySeccion2{
	display: flex;
	flex-direction:row-reverse;
}
.main__img--izq{
	width: 50%;
	height: 100%;
	padding: 30px;
	align-items: flex-start;
}

.textoDerecha{
	text-align: right;
	margin: 15px;
	padding: 5px;
	font-size: 1.5rem;
}

.bg-violet:hover{
	transform: translate(-10px);
	transition: 2s;
}*/

/*Contacto*/

/*.contacto{
	display: flex;
	justify-content: space-around;
	
}

.contacto__form{
	width: 25%;
	font-size: 1.5rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.fieldset__form--sm{
	align-items: flex-start;
	border: solid rgba(131, 0, 254, 1.0) 1px;
	text-align: center;
	font-size: 3rem;
}
*/


/*Footer*/


.footer__box--grey{
	display: flex;
	flex-direction: column-reverse; 
	background-color: #8E8C8C;
	align-items: center;
	padding: 5px;
	margin: 5px;
}
.footer__dp{
	font-size: 1rem;
	justify-content: center;
}
.iconoDisplay{
	display: flex;
	flex-direction: row;

}

.animacionIcono:hover{
	transform: rotatez(360deg);
	transition: 4s;
}

/*Mi Cuenta*/
.numProblemas{
	text-align: center;
	font-size: 1.5rem;
	color: #5100A4;
	margin: auto;
}
.inicioSecion{
	margin: auto;
	background-image: url(../img/micuenta.jpg);
	background-size: cover;
}

.micuentaDisplay{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}
.micuentaTexto{
	color: #5100A4;
	align-items: center;
}
.btn-color{
	color: black;
	font-size: 1.5rem;
	background-color: #F4E6FD ;
}
/*.inicioSecion fieldset{
	display:flex;
	flex-direction: column;
	padding: 20px;
	border: solid rgba(131, 0, 254, 1.0) 1px;
	text-align: center;
	font-size: 3rem;
}*/


/*Mis Liquidaciones*/
.liquidacionForm{
	border: solid rgba(131, 0, 254, 1.0) 1px;
	width: 50vw;
	text-align: center;
}

.listColor{
	background-color:#F4E6FD ;
}
.listHover:hover{
	background-color: #F4E6FD;
}

/*.texto__main--liqui{
	margin: 30px;
	font-size: 2.5rem;
	text-align: center;
}
.displayLiquidacion{
	display: flex;
	flex-direction: row;
	justify-content: space-around;*/
/* margin: 20px;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-around;
	background-color: whitesmoke;
 */
}

/*.fieldset__dp--liqui{
	margin: 30px;
	border: solid rgba(131, 0, 254, 1.0) 1px;
	font-size: 2.5rem;
	background-color: white;
}*/


/* Nosotros */


.main__dp--nosotros{
	text-align: center;
	font-size: 2.5rem;
	margin: 30px;
	align-items: center;
	background-color: whitesmoke;
	}
.presupuesto{
	border: solid rgba(131, 0, 254, 1.0) 1px;
	margin: auto;
	padding: 3px;
	background-color:#F4E6FD;
	width: 25vw;
	margin: auto;
	text-align: center;
}
	.presupuesto a{
		text-decoration: none;
		font-size: 2.5rem;
		color: black;
	}
/*.displayFotos{
	display: flex;
	justify-content: space-around;
}
	.displayFotos:hover{
		transform: skew(15deg);
		cursor: pointer;
	}*/


/* Servicios */


.servicios{
	border: solid black 1px;
	background-color: white;
}
.main__dp--servicios{
	margin: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 2rem;
}

/* GRID */


.displayGrid{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"header" 
	"nab"
	"section"
	"aside"
	"pie";
}

#navGrid{
	grid-area: nab;
}
#headerGrid{
	grid-area: header;
}
#asideGrid{
	grid-area: aside;
	display: flex;
	flex-direction: row;
	padding: 10px;
}
#sectionGrid{
	grid-area: section;

}
	.displaySeccion2 img{
		height: 100%;
	}	
	.contacto{
		display: flex;
		justify-content: space-around;
	}

#footerGrid{
	grid-area: pie;
}

@media (max-width: 770px){
	.displayGrid{
		grid-template-columns: 10% 90%;
		grid-template-rows:;
		grid-template-areas:
		"header header" 
		"nab nab"
		"section section"
		"aside aside"
		"pie pie";
	}
	.aside1{
		flex-direction: column;
	}
	.contacto{
		display: block;
	}
		.contacto__form{
			width: 100%;
		}


}


/* Nosotros Grid */


.nosotrosGrid{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav2 "
	"header2"
	"main"
	"aside2" 
	"pie2";
}
#navnosotros{
	grid-area: nav2;
}
#headernosotros{
	grid-area: header2;
}
#asidenosotros{
		display: flex;
		flex-direction: row;
		padding: 10px;
}
#mainnosotros{
	grid-area: main;
}
#footernosotros{
	grid-area: pie2;
}
@media (max-width: 770px){
	.nosotrosGrid{
		grid-template-columns: 10% 90%;
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
		"nav2 nav2"
		"header2 header2" 
		"aside2 main"
		"aside2 main"
		"pie2 pie2";
	}
	#mainnosotros .displayFotos{
		display: flex;
		flex-direction: column;

	}
	#mainnosotros .displayFotos figure{
		width: 70%;
	}
	#asidenosotros{
		flex-direction: column;
	}
}


/* Mi cuenta Grid */

#micuentaGrid{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 5% 75% 10%;
	grid-template-areas: 
	"navcuenta"
	"asidecuenta" 
	"sectioncuenta"
	"piecuenta";

}
#navMicuenta{
	grid-area: navcuenta;
}
#asideMicuenta{
	grid-area: asidecuenta;
	text-align: center;
}
#sectionMicuenta{
	grid-area: sectioncuenta;
	margin-top: 0;
	width: 100%;
	height: 50vh;
}
#footerMicuenta{
	grid-area: piecuenta;
}

@media (max-width: 770px){
	#micuentaGrid{
		grid-template-rows: auto;
		grid-template-areas:
		"navcuenta"
		"sectioncuenta"
		"asidecuenta"
		"piecuenta";
	}

}