.footer__box--grey{
	font-family: $font;
	display: flex;
	flex-direction: column-reverse; 
	background-color: map-get($mapColores , $footerColor);
	align-items: center;
	padding: 5px;
	margin: 5px;
}
.footer__dp{
	font-size: 1rem;
	@include flexbox(auto, center);
}
.iconoDisplay{
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 2px;
}

.animacionIcono:hover{
	transform: rotatez(360deg);
	transition: 4s;
}