.textoLiqui{
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
    font-family:$font ;
}
.listColor1{
    background-color: $primario;
    font-family: $font2;
}
.listHover1:hover{
    color: $secundario;
    background-color: $primario;
}
