$primario:#F4E6FD;
$secundario:#5100A4;
$footerColor:#94016f;
$black: #030101;
$white:#FFFFFF;

$mapColores:(
    $primario:#F4E6FD,
    $secundario:#5100A4,
    $footerColor:#ff7ade,
    $black: #030101,
    $white:#FFFFFF,
)
;
@mixin flexbox($aling-items, $justify-content){
    display: flex;
    align-items: $aling-items;
    justify-content: $justify-content;
}